{% extends 'base.html' %}
{% load static %}

{% block title %}{{ rental.title }} - Apcostays{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
<div class="container flat-container">
    <div class="flat-head">
        <div class="flat-title">{{ rental.title }}</div>
        <h2 class="flat-loc">{{ rental.location }}</h2>
    </div>

    <div class="image-gallery">
        <!-- Large Image -->
        <div class="large-image">
            <img id="mainImage" src="{% if images %}/media/{{ images.0 }}{% else %}{% static 'images/flat.png' %}{% endif %}" alt="Main Flat Image">
        </div>

        <!-- Small Images -->
        <div class="small-images">
            {% for image in images %}
                <img src="/media/{{ image }}" alt="Flat Image {{ forloop.counter }}" onclick="changeImage(this)">
            {% empty %}
                <img src="{% static 'images/flat-2.png' %}" alt="Default Image">
            {% endfor %}
        </div>
    </div>

    <div class="container flat-details">
        <div class="points">
            <button class="pointbtn">{{ rental.property_type }}</button>
            <button class="pointbtn">{{ rental.rooms }} Rooms</button>
        </div>
        <div class="flat-price">
            <h3 class="flat-amount">
                <span class="rent"> Rent: </span>₹ {{ rental.rent }} <span class="permonth">/ month</span>
            </h3>
        </div>
        <div class="discription">
            <h3 class="flat-discription">Description</h3>
            <p class="flat-discription">{{ rental.description }}</p>
            <h3 class="sdeposit mb-3">Security Deposit: ₹ {{ rental.deposit }} </h3>
        </div>

        <div class="dropdown">
            <a class="login-button d-inline-block mt-3 mt-lg-0 log dropdown-toggle" href="#" role="button" id="contactDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Contact
            </a>
        
            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="profileDropdown">
                <li><h3 class="dropdown-item">{{ rental.owner_name }}</h3></li>
                <li><a class="dropdown-item" href="tel:{{ rental.phone }}">{{ rental.phone }}</a></li>
                <li><a class="dropdown-item" href="mailto:{{ rental.email }}">{{ rental.email }}</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    function changeImage(smallImg) {
        let mainImage = document.getElementById("mainImage");
        mainImage.src = smallImg.src;
    }
</script>

{% endblock %}
